*, *::before, *::after {
  border: none;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto';
}

.section-one {
 background-color: #1F2937;
 height: 600px;
 padding: 28px 300px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

li {
  color: #E5E7EB;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.container-one {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.divider-one {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 350px;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.container-one button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 8px 32px;
  cursor: pointer;
}

.divider-two {
  background: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 500px;
}

.section-two {
  height: 675px;
}

.information-header {
  text-align: center;
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  padding: 72px 0;
}

.container-two {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.divider-three {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 205px;
}

.box {
  width: 200px;
  height: 200px;
  border: 5px solid #3882F6;
  border-radius: 10%;
}

.text {
  padding: 12px;
  text-align: center;
  font-size: 18px;
}

.section-three {
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-three {
  max-width: 900px;
}

.divider-four {
  font-size: 36px;
  color: #1F2937;
  font-weight: lighter;
  font-style: italic;
}

.divider-five {
  font-weight: bold;
  text-align: right;
  margin-top: 24px;
}

.section-four {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-four {
  background-color: #3882F6;
  border-radius: 10px;
  padding: 56px 144px;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subdivider-one {
  color: #E5E7EB;
  font-weight: bolder;
  font-size: 22px;
}

.subdivider-two {
  color: #E5E7EB;
}

.section-four button {
  background-color: #3882F6;
  border: 2px solid #E5E7EB;
  border-radius: 5px;
  color: #E5E7EB;
  padding: 8px 32px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
}

.footer {
  background-color: #1F2937;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}